// colors

!brown1 = #a37102
!brown2 = #c59d49
!brown10 = #F3F0EA
!blue1 = #6ba2de
!txt_main = #414142
!txt_light = #6F6F6F

// dimensions

!board_height = 500px
!menu_bar_height = 30px
!status_bar_height = 15px
!board_content_height = !board_height - !menu_bar_height - !status_bar_height

.clear
  :clear both

#test-wrapper
  :width 750px
  :height 600px
  :margin 50px auto
  :border 3px solid gray
  :padding 3px

#memori-content
  :font
    :size 12px
    :family "Verdana"
  :padding 10px
  :color = !txt_main

  #board-wrapper
    :position relative
    :width 590px
    :float right

    #navigation-wrapper
      :position absolute
      :top 100px
      :width 140px
      :max-width 140px
      :left -140px
      :background-color = !brown2
      :-moz-border-radius-topleft 10px
      :-moz-border-radius-bottomleft 10px

      ul#navigation
        :margin-left -15px
        :width 170px
        :height 130px
        :padding 18px 0
        li
          :padding-bottom 10px
          a
            :text-transform uppercase
            :display inline-block
            :padding 5px 5px 5px 15px
            :margin-left 25px
            :margin-right 15px
            :background-color = !brown1
            :-moz-border-radius-topleft 5px
            :-moz-border-radius-bottomleft 5px
            :color white
            :font-size 11px
            :text-decoration none
        li a
          :display block
        li.active a
          :background-color = !blue1
        li.active > a
          :background none
        li.last
          :padding-bottom 0

      ul#navigation.position-0
        :background-position 11px 14px
      ul#navigation.position-1
        :background-position 11px 49px
      ul#navigation.position-2
        :background-position 11px 84px
      ul#navigation.position-3
        :background-position 11px 119px


    #navigation-wrapper > ul#navigation
      :background url(/images/aktivmenu.png) no-repeat
       
    #board
      :height = !board_height
      :background-color = !brown2
      :border 6px solid
      :border-color = !brown1
      :-moz-border-radius 10px
      #menu-bar
        :height = !menu_bar_height
        :background-color = !brown1



      #board-content
        :height = !board_content_height
        :overflow auto
        ul#set-list
          li
            :background-color white
            :border-bottom 1px solid
            :border-color = !brown1
            :padding 5px
            .star        
              :width 22px
              :height 20px
              :float left
            .star.star-full
              :background url('/images/star_full.gif') no-repeat
            .star.star-empty
              :background url('/images/star_empty.gif') no-repeat
            .descr
              :width 340px
              :float left
              :overflow hidden
              .title
                :font
                  :size 14px
                  :weight bold
                a
                  :color = !txt_main
                  :text-decoration none
                  &:hover
                    :text-decoration underline
              .description
                :font
                  :size 11px
                  :style italic
                  :color = !txt_light
            .stat
              :width 75px
              :float left
              :padding 3px 10px 0 20px
              .bucket
                :float left
                :width 14px
                :height 45px
                .count
                  :font-size 10px
                  :color gray
                  :border-top 1px solid
                  :text-align center
                  :width 14px
                .bar
                  :margin 0 1px
                  :width 12px
                .bucket_0
                  :background-color red
                .bucket_1
                  :background-color blue
                .bucket_2
                  :background-color blue
                .bucket_3
                  :background-color blue
                .bucket_4
                  :background-color blue
                .expired
                  :background-color lightgray
            .func
              :float left
              :width 78px
              .func-button
                :padding 15px 5px 5px 5px
                .func-left, .func-right
                  :padding 2px
                  :color white
                  :float left
                  :width 30px
                  :line-height 1.2
                  :text-align center
                  .count
                    :font
                      :size 14px
                .func-left
                  :background-color = !brown1
                  :-moz-border-radius-topleft 5px
                  :-moz-border-radius-bottomleft 5px                
                .func-right
                  :background-color = !blue1
                  :-moz-border-radius-topright 5px
                  :-moz-border-radius-bottomright 5px                
    
      #status-bar
        :height = !status_bar_height
        :background-color = !brown1

// SetView
#board-content
  #cards-table-wrapper
    :position relative
    :margin 20px
    :padding-bottom 20px
  #cards-table
    :background-color white
    :-moz-border-radius 10px
    :padding 20px
    :border-collapse separate
    :font
      :size 15px
    tr
      :height 20px
      td.flip, td.front
        :width 48%
        :border-bottom 2px solid
        :border-color = !brown2
        :padding 3px 6px 3px 21px
      td.flip
        :border-right 1px solid
        :border-color = !brown2
      td.front
        :border-left 1px solid
        :border-color = !brown2        
      td.trash
        :width 10%
        :padding-left 15px
        a
          :background url('/images/trash.gif') no-repeat
          :width 10px
          :display block
          :text-decoration none
    tr.last
      td
        :border-bottom none

#card-editor
  :position absolute
  :top -2000px
  :background-color = !brown10
  :padding 3px 6px 3px 21px
  :border none
  :font
    :size 14px

#set-header
  :background-color white
  :-moz-border-radius 10px
  :margin 20px
  :padding 20px

  #set-title, #set-description
    :display block
    :padding 3px
    :margin 0 auto
    :width 460px
    :border 1px solid
    :border-color = !brown2

  #set-title
    :margin-bottom 10px
    :font-size 16px
  #set-description
    :font-size 14px

.written
  :font-family "Comic Sans MS", "Times New Roman", serif