// colors

!brown1 = #a37102
!brown2 = #c59d49
!brown3 = #FFD784
!brown10 = #F3F0EA
!blue1 = #6ba2de
!txt_main = #414142
!txt_light = #6F6F6F
!dunno_color = red
!know_color = green

!color_diff = #202020
!bucket_color_4 = #3A2502
!bucket_color_3 = !bucket_color_4 + !color_diff
!bucket_color_2 = !bucket_color_3 + !color_diff
!bucket_color_1 = !bucket_color_2 + !color_diff
!bucket_color_0 = #FF7878
!bucket_color_expired = !bucket_color_0

// dimensions

!board_height = 500px
!menu_bar_height = 30px
!status_bar_height = 17px
!board_content_height = !board_height - !menu_bar_height - !status_bar_height
!board_wrapper = 590px
!board_border_width = 6px
!board_width = !board_wrapper - 2 * !board_border_width

// padding, margins

!unit = 10px

// font-famly

.top-pad
  :padding-top = !unit
.bottom-pad
  :padding-bottom = !unit
.left-pad
  :padding-left = !unit
.right-pad
  :padding-right = !unit

.top-mar
  :margin-top = !unit
.bottom-mar
  :margin-bottom = !unit
.left-mar
  :margin-left = !unit
.right-mar
  :margin-right = !unit

a.nav-link
  :font-size 11px
  :font-family "Verdana", sans-serif
a.dark
  :color = !brown1

a.light
  :color = !brown10

.clear
  :clear both

#test-wrapper
  :width 750px
  :max-height 600px
  :margin 50px auto
  :padding 3px

#memori-content
  :font
    :size 12px
    :family "Verdana"
  :padding 10px
  :color = !txt_main

  #board-wrapper
    :position relative
    :width = !board_wrapper
    :float right

    #navigation-wrapper
      :position absolute
      :top 100px
      :width 140px
      :max-width 140px
      :left -140px
      :background-color = !brown2
      :-moz-border-radius-topleft 10px
      :-moz-border-radius-bottomleft 10px
      :-webkit-border-top-left-radius 10px
      :-webkit-border-bottom-left-radius 10px
      ul#navigation
        :margin-left -15px
        :width 170px
        :height 130px
        :padding 18px 0
        li
          :padding-bottom 10px
          a
            :text-transform uppercase
            :display inline-block
            :padding 5px 5px 5px 15px
            :margin-left 25px
            :margin-right 15px
            :background-color = !brown1
            :-moz-border-radius-topleft 5px
            :-moz-border-radius-bottomleft 5px
            :-webkit-border-top-left-radius 5px
            :-webkit-border-bottom-left-radius 5px
            :color white
            :font-size 11px
            :text-decoration none
        li a
          :display block
        li.active a
          :background-color = !blue1
        li.active > a
          :background none
        li.last
          :padding-bottom 0

      ul#navigation.position-0
        :background-position 11px 14px
      ul#navigation.position-1
        :background-position 11px 49px
      ul#navigation.position-2
        :background-position 11px 84px
      ul#navigation.position-3
        :background-position 11px 119px


    #navigation-wrapper > ul#navigation
      :background url(/images/aktivmenu.png) no-repeat

    #board
      :height = !board_height
      :background-color = !brown2
      :border-style solid
      :border-width = !board_border_width
      :border-color = !brown1
      :-moz-border-radius 10px
      :-webkit-border-radius 10px
      #menu-bar
        :height = !menu_bar_height
        :background-color = !brown1
        :font-size 11px
        :color = !brown3
        a
          :padding 0 5px
          :color = !brown3

      #board-scroll
        :height = !board_content_height
        :overflow auto        
        :position relative
      #board-content
        ul#set-list
          :padding 20px
          li
            :background-color white
            :border-bottom 1px solid
            :border-color = !brown1
            :padding 5px
            .star
              :width 22px
              :height 20px
              :float left
            .star.star-full
              :background url('/images/star_full.gif') no-repeat
            .star.star-empty
              :background url('/images/star_empty.gif') no-repeat
            .descr
              :width 300px
              :float left
              :overflow hidden
              .title
                :font
                  :size 13px
                  :weight bold
                a
                  :color = !txt_main
                  :text-decoration none
                  &:hover
                    :text-decoration underline
              .description
                :font
                  :size 11px
                  :style italic
                  :color = !txt_light
            .stat
              :width 75px
              :float left
              :padding 3px 10px 0 20px
              .bucket
                :float left
                :width 14px
                :height 45px
                .count
                  :font-size 10px
                  :color gray
                  :border-top 1px solid
                  :text-align center
                  :width 14px
                .bar
                  :margin 0 1px
                  :width 12px
            .func
              :float left
              :width 68px
              :padding 15px 5px 5px 5px
              .func-button
                :color white
                :background-color = !blue1
                :font-size 11px
                :padding 3px
          li.first
            :-moz-border-radius-topleft 10px
            :-moz-border-radius-topright 10px
            :-webkit-border-top-left-radius 10px
            :-webkit-border-top-right-radius 10px

          li.last
            :-moz-border-radius-bottomleft 10px
            :-moz-border-radius-bottomright 10px
            :-webkit-border-bottom-left-radius 10px
            :-webkit-border-bottom-right-radius 10px

.bucket_0
  :background-color = !bucket_color_0
.bucket_1
  :background-color = !bucket_color_1
.bucket_2
  :background-color = !bucket_color_2
.bucket_3
  :background-color = !bucket_color_3
.bucket_4
  :background-color = !bucket_color_4
.expired
  :background-color = !bucket_color_expired


#status-bar
  :height = !status_bar_height
  :background-color = !brown1
  :color = !brown3
  :font-size 11px
  :padding 3px 0 0 28px

#status-bar.working
  :background-image url(/images/ajax-loader.gif)
  :background-repeat no-repeat
  :background-position 3px 3px

// SetView
#board-content
  #cards-table-wrapper
    :margin 20px
  #cards-table-inner-wrapper
    :position relative
    :padding 20px 
    :background-color white
  #cards-table
    :-moz-border-radius 10px
    :-webkit-border-radius 10px    
    :border-collapse separate
    :font
      :size 15px
    tr
      :height 20px
      td.flip, td.front
        :width 48%
        :border-bottom 1px solid
        :border-color = !brown2
        :padding 3px 6px 3px 21px
        :cursor text
        :vertical-align top
      td.flip
        :border-right 1px solid
        :border-color = !brown2
      td.front
        /:border-left 1px solid
        :border-color = !brown2
      td.trash
        :width 10%
        :padding-left 15px
        a
          :background url('/images/trash.gif') no-repeat
          :width 10px
          :display block
          :text-decoration none
    tr.last
      td
        :border-bottom none

#card-editor
  :position absolute
  :top -2000px
  :background-color = !brown10
  :padding 3px 6px 3px 21px
  :border none
  :overflow hidden
  :font
    :size 15px

#set-header
  :background-color white
  :-moz-border-radius 10px
  :-webkit-border-radius 10px
  :margin 20px
  :padding 20px

  #set-title, #set-description
    :display block
    :padding 3px
    :margin 0 auto
    :width 460px
    :border 1px solid
    :border-color = !brown2
    :overflow hidden

  #set-title
    :margin-bottom 10px
    :font-size 16px
  #set-description
    :font-size 14px

.written
  :font-family "Comic Sans MS", "Times New Roman", serif

// practice

#info-bar
  #practice-info
    :color = #333
    :background-color #ab883f
    :padding 10px
    :margin 20px 20px 0 20px
    :-moz-border-radius 10px
    :-webkit-border-radius 10px
    .info-text
      :float left
      :padding-left 20px
      .title        
        :font-size 14px
        :font-weight bold
      .practice-type
        :font-size 11px
        :padding-top 5px
    .counter
      :float right
      :padding 8px 20px 0 0
      :font-size 16px
    
#practice-wrapper  
  :padding-top 40px
  #card-with-nav
    :width 500px
    :margin 0 auto
  #prev-button-wrapper, #next-button-wrapper
    :width 70px
    :float left
    :height = 180px
  #prev-button, #next-button
    :background-position center center
    :background-color = !brown1
    :background-repeat no-repeat
    :height 72px
    :-moz-border-radius 10px
    :-webkit-border-radius 10px
    :cursor pointer
  #prev-button
    :margin 50px 25px 0 0
    :background-image url(/images/gomb_bal.png)
  #next-button
    :margin 50px 0 0 25px
    :background-image url(/images/gomb_jobb.png)
  #card-wrapper
    :width = 72%
    :float left
    #card
      :background white
      :-moz-border-radius 10px
      :-webkit-border-radius 10px
      :font-size 22px
      #card-text
        :text-align center
        :padding 40px 20px 0 20px
        :height = 120px
        :cursor pointer
      #practice-summary
        :padding 20px
        :font-size 14px
        :text-align left
        h3
          :font-size 16px
        table
          :margin 10px 0
          td
            :width 100
          td
            :text-align right
      #card-info
        :height 20px
        :font-size 10px
        :padding 5px 0 0 10px
        :color = !brown2
        :position relative
        #box-number
          :position absolute
          :padding 3px
          :color white
          :top -148px
          :left 0px
  #result-line
    #result-wrapper
      :width 300px
      :margin 0 auto
      #dunno-button-wrapper, #know-button-wrapper
        :width = 150px
        :height 50px
        :float left
      #dunno-button, #know-button
        :padding 5px
        :margin 15px
        :color white
      #dunno-button
        :background-color = !dunno_color
      #know-button
        :background-color = !know_color

.button
  :cursor pointer
  :-moz-border-radius 5px
  :-webkit-border-radius 5px
  :text-align center

.round5
  :-moz-border-radius 5px
  :-webkit-border-radius 5px

strong
  :font-weight bold

.know
  :color = !know_color

.dunno
  :color = !dunno_color
